body{
    text-align: center;
}
#Justinbieber{
    transition: transform .2s;
    border: 10px solid #AAAAAA;
}
#Justinbieber:hover {
    transform: scale(0.9);
}
#welcome{
    background-color: linear-gradient(blue);
}
#info{
    background-color: crimson;
}
#myfavouritethings{
    background-color: navajowhite;
}
#whitehatjr{
    background-color: white;
}